@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #071737;
    --accent-1: #FFC107;
    --accent-2: #00BFFF;
    --accent-3: #2dd4bf;
    --button-hover: #12345a;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

nav {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10;
    border-bottom: solid 3px white;
}

nav ul {
    list-style: none;
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    display: flex;
    width: 20%;
    height: 100%;
}

nav ul li a {
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Lora', sans-serif;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
    
}

nav ul li a:hover{
    background-color: white;
    color: var(--primary-color);
    transition: 0.3s;
}

main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
}

main header {
    position: relative;
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 15px;
    justify-content: center;
}

main header h1 {
    color: white;
    text-decoration: underline;
    font-size: 50px;
    font-family: 'Merriweather', sans-serif;
    margin: 0;
}

table {
    position: relative;
    border: 3.5px solid white;
    border-collapse: collapse;
    margin-top: 75px;
    z-index: 10;
    width: 80%;
    height: 250px;
    left: 10%;
}

table th, td {
    border: 3.5px solid white;
    border-collapse: collapse;
}

table th {
    background-color: var(--accent-1);
    color: var(--primary-color);
    font-size: clamp(23px, 2.1vw, 30px);
    font-weight: bold;
    font-family: 'Merriweather', sans-serif;
}

table td {
    font-size: clamp(18px, 1.67vw, 25px);
    padding: 7px;
    font-family: 'Lora', sans-serif;
    color: white;
    background-color: var(--button-hover);
}

table td:first-child {
    font-weight: bold;
    font-size: clamp(25px, 2.1vw, 30px);
}